@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STYLES FOR NAVIGATION 
<-------------------------------------------------------------------------------------------------------> */ 

.navigation-bar {
    filter: drop-shadow(0 -10px 20px rgb(170,170,170));
    transition: 0.7s ease-in-out;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.996);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navigation-list {
    display: flex;
    width: 56%;
}
.navigation-list li {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    list-style-type: none;
}
.nav-icons-links {
    margin-top: 15px;
    line-height: 3.1em;
    text-align: center;
    font-size: 1em;
    color: black;
    text-decoration: none;
    max-width: 40%;
}
.nav-icons-links:hover {
    color: black;
    font-weight: 600;
}
.nav-icons-links:after {
    background-color: rgb(64, 205, 245);
    content: '';
    height: 1.5px;
    width: 0%;
    transition: 0.5s ease-in-out;
    display: block;
}
.nav-icons-links:hover:after {
    width: 100%;
}
.openNavigationBar-mobile {
    display: none; 
    background-image: url("Images/Nav-Bar\ sand.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
#logo {
    max-width: 190px;
}
#movingDown {
   transform: translate3d(0,-100%,0);
}
#movingUp {
   filter: drop-shadow(0 -10px 20px rgb(170,170,170));
}
#close {
    display: flex !important;
}
#open {
    display: flex !important;
}

/* STYLES FOR THE FIRST (main - landing) SECTION 
<-------------------------------------------------------------------------------------------------------> */ 

.landing-Section {
   display: flex;
   justify-content: center;
   align-items: center;  
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0,0.3);
  /* background-image: url('Images/the-final-background.png');
   background-size: cover;
   background-repeat: round;
   border-bottom-left-radius: 20%; */
}
.landing-section-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10;
}
.landing-section-mobile-img {
   display: none;
}
#left-Panel {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    gap: 8%;
    height: 100%;
}
#left-Panel h1 {
    font-weight: 650;
    margin-top: 100px;
    width: 90%;
    color: rgb(255, 255, 255);;
}
#right-Panel {
    width: 50%;
}
#appointment {
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: white;
    font-size: 1.5vw;
    background-color: rgb(29, 101, 124);
    border: 1px solid rgb(29, 101, 124);
    border-radius: 2px;
    height: 55px;
    width: 30%;
}
#appointment:hover {
    transform: scale(1.1);
}

/* STYLES FOR THE DETAIL SECTION
<-------------------------------------------------------------------------------------------------------> */ 

.detail-Section {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   background-image: url('Images/blue-grain-village-dental.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80%;
    border: 2px solid white;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.detail-right-panel {
    gap: 10%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;   
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
}
.detail-right-panel h1 {
    background: linear-gradient(to bottom, #f9dc9d 22%,#e9bc6d 24%, #f7cc6e 26%, #edc162 27%,#f1c855 40%,#d8af5b 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.detail-left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#detail-left-panel-img {
    background-image: url("Images/be_a_denist-removebg-preview.png");
    background-size: cover;
    background-repeat: round;
    width: 80%;
    height: 60%;
}
.detail-right-panel-offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail-right-panel-offers-order {
    padding: 7px;
    font-size: 20px;
    text-align: left;
    width: 70%;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.offers-order-img {
    background-image: url("Images/list-image.png");
    background-size: cover;
    background-repeat: round;
    width: 30px;
    height: 30px;
}
.offers-order-txt {
    width: 50%;
}
.detail-right-panel-button {
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 1.5vw;
    border: 1px solid rgb(230, 181, 57);
    box-shadow: 1px 1px 1px 1px rgba(233, 164, 46, 0.7);
    border-radius: 2px;
    height: 45px;
    width: 25%;
}
.detail-right-panel-button:hover {
    background-color: transparent;
    box-shadow: 1px 1px 1px 1px rgba(64, 220, 160, 0.7);
    border: 1px solid rgb(115, 198, 135);
}

/* STYLES FOR THE TEAM SECTION  
<-------------------------------------------------------------------------------------------------------> */ 

.team-section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140vh;
}
#team-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}
#team-header h1 {
    text-shadow: 1.5px 1.5px gray;
    font-family: 'Open Sans', sans-serif;
}
.team-section-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}
.profile-card {
    background-color: #f7f6f6;
    transition: 1s ease;
    width: 25%;
    height: 60%;
}
.profile-card:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    filter: drop-shadow(0 -10px 20px rgb(170,170,170));
    box-shadow: 1px 1px rgba(193, 192, 192,0.6);
}
.profile-card h2 {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}
.profile-card h5 {
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 1.1rem;
}
#pc1 {
    height: 60%;
    width: 100%;
    background-image: url("Images/pc-1.png");
    background-size: cover;
    background-repeat: round;
}
#pc2 {
    height: 60%;
    width: 100%;
    background-image: url("Images/pc-2.png");
    background-size: cover;
    background-repeat: round;
}
#pc3 {
    height: 60%;
    width: 100%;
    background-image: url("Images/pc-3.png");
    background-size: cover;
    background-repeat: round;
}

/* STYLES FOR LOCATION SECTION 
<------------------------------------------------------------------------------------------------------->  */

.location-section {
    background-color: #c5c3c0;
    gap: 10%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
}
.location-section h1 {
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: 600;
    text-shadow: 1.5px 1.5px gray;
    font-family: 'Montserrat', sans-serif;
}
.location-section h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.carousel-item {
    background-color: rgb(44, 72, 75);
    height: 65vh;
}
iframe {
    width: 100%;
    height: 100%;
}
.carousel-control-prev-icon {
    background-image: url("Images/left-slider.svg") !important;
}
.carousel-control-next-icon {
    background-image: url("Images/left-slider.svg") !important;
    transform: scale(-1);
}
#slide-one {
    background-color: black  !important;
}
#slide-two {
    background-color: black !important; 
}

/* STYLES FOR FOOTER SECTION 
 <-------------------------------------------------------------------------------------------------------> */

.footer-section {
    background-color: #dddece;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}
.footer-section-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
}
.footer-section-card {
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    display: flex;
    align-items: left;
    text-align: left;
    color: black;
    width: 15%;
    height: 70%;
}
#footer-section-card-fourth a {
    padding-bottom: 20px;
}
#footer-section-card-fourth a:hover {
   color: black;
}
.footer-section-card a {
    color: black;
    text-decoration: none;
}
.footer-section-card h2 {
    margin-bottom: 30px;
}
.contents-reserved {
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%;
}
.contents-reserved a {
    color: black;
    text-decoration: none;
}
.contents-reserved a:hover {
    color: black;
}
#insta {
    transition: 0.5s ease;
    width: 25px;
    height: 25px;
    background-image: url("Images/instagram.png");
    background-size: cover;
    background-position: round;
}
#faceb {
    transition: 0.5s ease;
    width: 25px;
    height: 25px;
    background-image: url("Images/facebook.png");
    background-size: cover;
    background-position: round;
}
#msg {
    transition: 0.5s ease;
    width: 25px;
    height: 25px;
    background-image: url("Images/msg.png");
    background-size: cover;
    background-position: round;
}
#snap {
    transition: 0.5s ease;
    width: 25px;
    height: 25px;
    background-image: url("Images/snap.png");
    background-size: cover;
    background-position: round;
}
#snap:hover {
    transform: scale(1.1);
}
#msg:hover {
    transform: scale(1.1);
}
#faceb:hover {
    transform: scale(1.1);
}
#insta:hover {
    transform: scale(1.1);
}
#footer-section-card-third {
    width: 10%;
}
#footer-section-card-third a {
   margin-bottom: 40px;
}
#footer-section-card-third a:first-child {
    margin-top: 10px;
}

/* MEDIA QUERIES 
<-------------------------------------------------------------------------------------------------------> */

@media (max-width: 1400px) {
    .detail-right-panel h1 {
        font-size: 30px;
    }
}
@media (max-width: 1200px) {
    #detail-left-panel-img {
        height: 50%;
        width: 80%;
    }
}
@media (max-width: 1000px) {
    .detail-right-panel h1 {
        font-size: 25px;
    }
    .detail-right-panel-offers-order {
        font-size: 15px;
    }
    #appointment {
        height: 65px;
        width: 40%;
    }
}
@media (max-width: 900px) {
    .landing-section-video {
      min-width: 100%;
      height: auto;
    }
    .team-section-container {
        align-items: center;
        height: 80%;
        flex-direction: column;
    }
    .team-section {
        height: 260vh;
    }
    #team-header {
        height: 20%;
    }
    .profile-card {
        width: 60%;
        height: 30%;
    }
}
@media (max-width: 800px) {
    html.touch *:hover {
        all:unset!important;
    }
    .landing-section-video {
        display: none;
    }
    .landing-Section {
        background-color: rgba(0, 0, 0,0.6);
    }
    .landing-section-mobile-img {
        display: block;
        width: 100%;
        height: 100%;
        position:absolute;
        
        z-index: -10;
        background-image: url("Images/Background-workplace-edit.jpg");
        background-size: cover;
        background-repeat: round;
    }
    .detail-container {
        flex-direction: column-reverse;
        width: 87%;
        height: 90%;
    }
    #detail-left-panel-img {
        width: 80%;
        height: 60%;
    }
    .detail-Section {
        height: 120vh;
    }
    .detail-left-panel {
        height: 60%;
    }
    .nav-icons {
        margin-left: 30px;
    }
    .nav-icons-links:after {
        background-color: white;
    }
    .nav-icons-links {
        margin-top: 0px;
    }
    .landing-Section{
        flex-direction: column;
    }
    #detailSVG {
        background-image: url('Images/detail.svg');
        background-size:cover;
        background-position: no-repeat;
        width: 30px;
        height: 30px;
    }
    #teamSVG {
        background-image: url('Images/team.svg');
        background-size:cover;
        background-position: no-repeat;
        width: 30px;
        height: 30px; 
    }
    #gallerySVG {
        background-image: url('Images/gallery.png');
        background-size:cover;
        background-position: no-repeat;
        width: 30px;
        height: 30px; 
    }
    .detail-right-panel-button {
        width: 30%;
        font-size: 20px;
    }
    #contactSVG {
        background-image: url('Images/contact.svg');
        background-size:cover;
        background-position: no-repeat;
        width: 30px;
        height: 30px;
    }
    #locationSVG {
        background-image: url('Images/location.svg');
        background-size:cover;
        background-position: no-repeat;
        width: 30px;
        height: 30px;
    }
    #appointment {
        font-size: 2.3vw;
        width: 45%;
    }
    .right-Panel {
        display: none;
    }
    .navigation-bar {
        position: fixed;
        justify-content: space-around;
    }
    .openNavigationBar-mobile {
        display: flex;
    }
    .navigation-list {
        padding-left: 0;
        background-color: rgb(255, 255, 255);
        width: 45%;
        justify-content: space-evenly;
        right: 0;
        top: 95px;
        position: absolute;
        flex-direction: column;
    }
    .navigation-list li {
        margin-bottom: 30px;
        justify-content: left;
        gap: 20px;
    }
    .navigation-list li:first-child {
        margin-top: 20px;
    }
    .nav-icons-links {
        font-size: 0.9rem;
        width: 40%;
    }
    .nav-icons {
        width: 25px !important;
        height: 25px !important;
    }
    #close {
        display: none !important;
    }
    #open {
        justify-content: space-evenly;
        right: 0;
        top: 81px;
        position: absolute;
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    .footer-section {
        height: 150vh;
    }
    .footer-section-container {
        text-align: left;
        justify-content: center;
        align-items: left !important;
        flex-direction: column;
    }
    .footer-section-card {
        height: 40%;
        width: 80%;
    }
    #footer-section-card-third {
        justify-content: space-around;
        align-items: center;
        height: 20%;
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    #footer-section-card-third a {
        margin-bottom: 0;
    }
    #footer-section-card-third a:first-child {
        margin-top: 0;
    }
}
@media (max-width: 500px) {
    .navigation-list {
        width: 60%;
    }
    .profile-card h2 {
       font-size: 1.2rem;
    }
    .profile-card h5 {
        font-size: 0.8rem;
    }
    .profile-card {
        width: 60%;
        height: 30%;
    }
    .detail-right-panel-button {
        font-size: 5vw;
    }
    .detail-Section {
        height: 130vh;
    }
    .detail-container {
        padding: 10px;
    }
    .detail-right-panel h1 {
        width: 80%;
    }
    .nav-icons {
        width: 25px !important;
        height: 25px !important;
    }
    .landing-Section {
         flex-direction: column;
    }
    .right-Panel {
        display: none;
    }
    #appointment {
        width: 40%;
        font-size: 3.5vw;
    }
    #left-Panel {
        width: 90%;
    }
    #left-Panel h1 {
        width: 70%;
        font-size: 1.7rem;
        font-weight: 600;
        margin-top: 1px;
    }
}
@media (max-width: 450px) {
    .contents-reserved {
        font-size: 1rem;
    }
    .navigation-list {
       padding-left: 2rem;
        width: 60%;
    }
    .nav-icons-links {   
        font-size: 1rem;
    }
    .nav-icons {
        width: 25px !important;
        height: 25px !important;
        margin-left: 10px;
    }
    .profile-card h2 {
        font-size: 1.1rem;
     }
     .profile-card h5 {
         font-size: 15px;
     }
}
@media (max-width: 340px) {
    .navigation-list {
        width: 70%;
    }
    #left-Panel h1 {
        font-size: 1.2rem;
    }
    .nav-icons-links {
    
        font-size: 0.8rem;
    }
    .nav-icons {
        width: 20px !important;
        height: 20px !important;
        margin-left: 10px;
    }
}

 /* MEDIA QUERIES FOR HEIGHT 
  -------------------------------------------------------------------------------------------> */
@media (max-height: 1300px) {
    
} 
@media (max-height: 720px) {
    .footer-section {
        height: 190vh;
    }
}
@media (max-height: 600px) {
    .detail-Section {
        height: 150vh;
    }
    #detail-left-panel-img {
        width: 60%;
    }
    .profile-card {
        width: 40%;
    }
    .carousel-item {
        height: 80vh;
    }
}
@media (max-height: 500px) {
    .landing-Section {
        height: 99vh;
    }
    .footer-section {
        height: 150vh;
    }
    .team-section {
        height: 400vh;
    }
    .carousel-item {
        height: 100vh;
    }
    .detail-Section {
        height: 200vh;
    }
    #detail-left-panel-img {
        height: 40%;
    }
    .profile-card {
        width: 40%;
    }
    .location-section {
        height: 50vh;
    }
    .landing-section-video {
        width: 100vw;
        height: 200vh;
        right: unset;
        bottom: unset;
    }
    #left-Panel h1 {
        font-size: 1.5rem;
    }
}
@media (max-height: 450px) {
    .team-section-container {
        gap: 3%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .team-section {
        justify-content: unset;
        height: 450vh;
       }
    #team-header {
        height: 20%;
    }
}
@media (max-height: 400px) {
    .landing-Section {
       height: 120vh;
    }
    .landing-section-mobile-img {
       height: 200vh;
    }
    .footer-section {
     height: 300vh;
    }
    .carousel-item  {
    height: 100vh;
    }
    .team-section {
     height: 450vh;
    }
    .detail-Section {
        height: 200vh;
    }
    #detail-left-panel-img {
        height: 40%;
        width: 50%;
    }
    .profile-card {
        width: 40%;
    }
    .detail-right-panel h1 {
        font-size: 22px;
    }
}